<div id="container">
  <div id="head">
    <div id="titulo">
      {{titulo}}
    </div>
    <nav id="componentes">
      <cmp-item-header routerLink="jobs" [titulo]="'Trabajos'"></cmp-item-header>
      <cmp-item-header routerLink="comp" [titulo]="'compañias'"></cmp-item-header>
      <cmp-item-header routerLink="employees" [titulo]="'Para empleados'"></cmp-item-header>
      <cmp-item-header routerLink="sendJob" [titulo]="'Enviar Trabajo'"></cmp-item-header>
    </nav>
  </div>
  <div id="body">
    <router-outlet></router-outlet>
  </div>
</div>