#head{
    
    width: 100%;
    background:linear-gradient(blue,aliceblue);
}
#titulo{
    height: 20%;
    position: relative;
    display: inline;
    font-size: 3em;
    background-color:none;
}
#componentes{
    width: 30%;
    height: 20%;
    position: relative;
    float: right;
    
}
cmp-item-header{
    position: relative;
    display: inline-block;
    width: fit-content;
}